
@{
}

<div class="page-content-section">

    <div class="container-fluid overflow-hidden px-md-4 px-0 tab-new mb-6 nav-tabs-shadow pt-2">
        @*  <div class="row">
        <div class="col-12">
        <div class="navbar-brand app-brand demo d-flex d-md-none py-0 me-4">
        <h2 class="app-brand-link page-heading me-2">
        <span class="app-brand-text demo menu-text fw-bold">McDonald's</span>
        </h2>


        </div>
        </div>
        </div> *@
        <div class="row">
            <div class="col-12">
                <div class="nav-align-top ">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="~/Project/ProjectOverview/@Model.ProjectId"
                               type="button"
                               class="nav-link">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Task/TaskDetails/@Model.ProjectId"
                               type="button"
                               class="nav-link active">
                                Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Task/ProjectDocuments/@Model.ProjectId"
                               type="button"
                               class="nav-link">
                                Documents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Task/ProjectDrawings/@Model.ProjectId"
                               type="button"
                               class="nav-link">
                                Drawing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Task/ProjectPhotos/@Model.ProjectId"
                               type="button"
                               class="nav-link">
                                Photos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->


    <div class="container-fluid">
        <!-- Content -->

        <div class="flex-grow-1 container-p-y">

            <div class="flex-grow-">
                <div class="row g-6">
                    <!-- Basic -->



                    <div class="col-md-12">
                        <div class="project-folders">
                            <a href="project-document.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Health and Sefety files" class="project-folder-item">
                                <div class="folder-icon">
                                    <img src="~/assets/image/folder.png" alt="">
                                </div>
                                <div class="project-content">
                                    <img src="~/assets/image/folder.png" class="sm-folder-icon" alt="">
                                    <h2 class="project-title">Health and Sefety files</h2>
                                </div>
                            </a>

                            <a href="project-document.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Notice of Project" class="project-folder-item">
                                <div class="folder-icon">
                                    <img src="~/assets/image/folder.png" alt="">
                                </div>
                                <div class="project-content">
                                    <img src="~/assets/image/folder.png" class="sm-folder-icon" alt="">
                                    <h2 class="project-title">Notice of Project</h2>
                                </div>
                            </a>

                            <a href="project-document.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Form 1000s" class="project-folder-item">
                                <div class="folder-icon">
                                    <img src="~/assets/image/folder.png" alt="">
                                </div>
                                <div class="project-content">
                                    <img src="~/assets/image/folder.png" class="sm-folder-icon" alt="">
                                    <h2 class="project-title">Form 1000s</h2>
                                </div>
                            </a>

                            <a href="project-document.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Certificates" class="project-folder-item">
                                <div class="folder-icon">
                                    <img src="~/assets/image/folder.png" alt="">
                                </div>
                                <div class="project-content">
                                    <img src="~/assets/image/folder.png" class="sm-folder-icon" alt="">
                                    <h2 class="project-title">Certificates</h2>
                                </div>
                            </a>

                            <a href="project-document.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Job permits" class="project-folder-item">
                                <div class="folder-icon">
                                    <img src="~/assets/image/folder.png" alt="">
                                </div>
                                <div class="project-content">
                                    <img src="~/assets/image/folder.png" class="sm-folder-icon" alt="">
                                    <h2 class="project-title">Job permits</h2>
                                </div>
                            </a>

                        </div>




                    </div>








                    <!-- /Basic -->

                </div>

            </div>
            <!-- / Content -->

        </div>

    </div>


</div>
